{% extends "layouts/default.html" %}
{% block title %}Object Writing - Vokaabeli{% endblock %}
{% block content %}
<div id="main">
  <h1>Object Writing</h1>

  <p>Give yourself strict 10 min and write something about this random object.</p>
  <p><i>{{ noun }}</i></p>

  <h3>Definitions</h3>
  <p>{{ noun }} - {{ noun-def }}</p>

  <hr>

  <h1>Kohteesta kirjoittaminen</h1>

  <p>Kirjoita 10 min seuraavasti objektista.</p>
  <p><i>{{ noun-fi }}</i></p>

  <h3>Definitions</h3>
  <p>{{ noun-fi }} - {{ noun-def-fi }}</p>
</div>
{% endblock %}
